.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem ;
    background: #03c0f9;
    color: #fff;
    border-radius: 15px;
    width: 90%;
    height: 90px;
    position: fixed;
    box-shadow: 10px 10px rgba(0, 0, 0, 1);
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.logo {
    border-radius: 30px;
    font-weight: bold;
    width: 300px;
    height: auto;
}

.navLinks {
    display: flex;
    list-style: none;
    gap: 9px;
    margin: 0;
    padding: 0;
}

.link {
    display: flex;
    height: 40px;
    width: 120px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: background-color 1.5s ease, transform 0.5s ease-in-out;
}

.link:hover {
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.15);
    background-color: rgba(17, 69, 238, 0.66);
}

.menu {
    display: none;
    height: 70px;
    width: 70px;
    font-size: 40px;
    background-color: #03c0f9;
    border: oldlace 1px solid;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 1);
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

@media (max-width: 1000px) {
  .navLinks {
    display: none;
    flex-direction: column;
    background-color: #000000;
    position: absolute;
    top: 90px;
    right: 20px;
    width: 120px;
    padding: 10px;
    border-radius: 8px;
    z-index: 999;
  }

  .navLinks.open {
    display: flex;
  }

  .menu {
    display: flex;
  }
  .menu:hover {
    background-color: rgba(17, 69, 238, 0.66);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  }
}
